<form action="/endgame" method="POST">
    <label>
        <input type="radio" name="userChoice" value="pedra">
        Pedra
    </label>
    <label>
        <input type="radio" name="userChoice" value="papel">
        Papel
    </label>
    <label>
        <input type="radio" name="userChoice" value="tesoura">
        Tesoura
    </label>
    <button type="submit">Jogar!</button>
</form>