<h1>Olá, pessoa! Digite seu nome para começar</h1>

<form action="/jokenpo" method="post">
    <input type="text" name="userName" placeholder="Seu nome">
    <button type="submit">Começar!</button>
</form>